# Get the Keys and IDs on the specified route ;)

DODO_PAYMENTS_API_KEY = "https://app.dodopayments.com/developer/api-keys"
DODO_PRODUCT_ID = "https://app.dodopayments.com/products"
DODO_CHECKOUT_SESSION_ID = "create_checkout will give session id"
DODO_SUBSCRIPTION_ID = "https://app.dodopayments.com/sales/subscriptions"
DODO_PAYMENT_ID = "https://app.dodopayments.com/sales/subscriptions/{click on a subscription}"